.bank-container{
    font-weight: 300;
    background-color: #eee;
}

.bank-item{
    width: 32%;
    float: left;
    border: 1px solid #eee;
    padding:0.4rem 0.6rem;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
    margin: 0.2rem 1%;
    background-color: #fff;
}
.bank-item:nth-child(3n-2){
    margin-left: 0;
}

.bank-item:nth-child(3n){
    margin-right: 0;
}

.bank-img img{
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    margin: auto;
}

.bank-features{
    
    border-bottom: 1px solid #ddd;
}
.bank-features-inner{
    position: relative;
    padding: 0.1rem 0.3rem;
    background-color: coral;
    display: inline;
    font-size: 0.5rem;
    border-radius: 0.1rem;
    top: 0.5rem;
}

.bank-title{
    font-size: 0.7rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.bank-info{
    font-size: 0.5rem;
    line-height: 0.8rem;
    height: 1.6rem;
    overflow: hidden;
}
