<div class="home-container">
  <div class="home-header">
    <img class="home-header-img" src="http://www.qqzhi.com/uploadpic/2014-07-27/075816657.jpg" />
    <div class="home-header-text">
      <div class="home-header-name">张三</div>
      <div class="home-header-num">编号：423432432</div>
    </div>
  </div>

  <div class="home-counter">
    <div class="home-item">
      <p class="home-item-title">可结算余额</p>
      <p class="home-item-value">4243 元</p>
    </div>
    <div class="home-item">
      <p class="home-item-title">营销推广团队</p>
      <p class="home-item-value">4243 人</p>
    </div>
  </div>

  <div class="common-grids">
    <div class="common-grids-title">我的业务</div>
    <div class="common-grids-content">
      <div class="common-grids-item">
          <i class="common-grids-icon icon-order"></i>
          <p class="common-grids-text">申卡记录</p>
      </div>    
    </div>
  </div>

  <div class="common-grids">
      <div class="common-grids-title">申卡服务</div>
      <div class="common-grids-content">  
        <div class="common-grids-item">
            <i class="common-grids-icon icon-info"></i>
            <p class="common-grids-text">常见问题</p>
        </div>
  
        <div class="common-grids-item">
            <i class="common-grids-icon icon-about"></i>
            <p class="common-grids-text">关于我们</p>
        </div>
        
      </div>
    </div>
</div>
